*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    height: 100vh;
    background-color: aqua;
}
.notification{
    position: absolute;
    right: 0;
    margin: 1rem 3rem 0 0;
    overflow: hidden;
}
.col i{
    font-size: larger;
    margin-right: 5px;
}
.toast{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    background-color: #fff;
    padding: 10px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    position: relative;
    animation: showtoast 0.3s forwards;
}
.hide{
    animation: removetoast 0.3s forwards;
}

@keyframes showtoast {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(10px);
    }

}

@keyframes removetoast {
    0%{
        transform: translateX(10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(100%);
    }

}
.success .col i{
    color: rgb(32, 216, 35);
}
.error .col i{
    color: rgb(220, 22, 22);
}
.danger .col i{
    color: rgb(216, 210, 32);
}
.info .col i{
    color: rgb(17, 142, 230);
}
.toast::before{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    animation: bars 5s forwards;
}

@keyframes bars {
    100%{
        width: 0%;
    }
}

.success::before{
      background-color:rgb(32, 216, 35) ;
}
.error::before{
      background-color:rgb(220, 22, 22) ;
}
.danger::before{
      background-color:rgb(216, 210, 32) ;
}
.info::before{
      background-color:rgb(17, 142, 230) ;
}

.buttons{
    position: absolute;
    top: 50%;
    left: 40%;
    display: flex;
    gap: 5px;
}
.buttons div{
    padding: 7px;
    flex: 1 1 0px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.buttons .success{
    background-color:rgb(32, 216, 35) ;
}
.buttons .error{
    background-color:rgb(220, 22, 22) ;
}
.buttons .danger{
    background-color:rgb(216, 210, 32) ;
}
.buttons .info{
    background-color:rgb(17, 142, 230) ;
}